<br>      
<div class="container-fluid">
    <div class="row">            
        <div class="col-11">
            <H3> Product</H3>
        </div>
        <div class="col-1">
            <button (click)="logOut()" class="btn btn-outline-success my-2 my-sm-0" >Add New</button>
        </div>
    </div>
</div>
<br>
<table class="table table-condensed">
    <thead>
        <tr>
        <th>Name</th>
        <th>CasNo</th>
        <th>M. Formula</th>        
        <th>M. Weight</th>
        <th>SzCatNo</th>
        <th>InvStatus</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of productVOList">
            <td>{{product.name}}</td>
            <td>{{product.casNo}}</td>
            <td>{{product.molecularFormula}}</td>
            <td>{{product.molecularWeight}}</td>
            <td>{{product.szCatNo}}</td>
            <td>{{product.invStatus}}</td>            
        </tr>         
    </tbody>
</table>